html {
        scroll-behavior: smooth;
}
	.page-content h1 {
		text-align:center;
        color:#606b6f;
    }
	
	
    
    /*--- Navigation bar ---*/
	#primary-nav{
		padding-right:20%;
		
	}
	#primary-nav ul li a {
		transition: .2s ease-out;
	}
	
	#primary-nav ul li a:hover{
		background-color:none;
		text-decoration:underline;
    }
    
    /*---- navigation logo ---*/
	
	.site-logo img {
		max-width:60%;
	}
	.site-logo{
		padding-left:20%;
    }
    
    /*------ Footer styling in the widget -----*/
    	.footer-widgets {
   background-color:#333c3e;
		text-align:center;
}
	.footer-widgets h4 {
		font-family: Quicksand,Helvetica Neue,Helvetica,sans-serif;
    }

    /*----- Scroll bar styling -----*/
    ::-webkit-scrollbar {

        width: 15px;
    }
    /*- Bane - */
    ::-webkit-scrollbar-track {

        box-shadow: inset 0 0 5px grey; 
        border-radius: 2px;
    }
    /* -- Håndtag --*/
    ::-webkit-scrollbar-thumb {
        background: #606b6f; 
        border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #333c3e;
    }
    

    /*----- Main page ----*/

    /* ----- Banner forside ------*/

	#header-title {
		width:100%;
		padding:2% 0;
		text-align:left;
		text-transform:uppercase;
		line-height:125%;
	}
	.container {
		width:100%;
	}
	#header-p-text {
		text-align:left;
		padding:2% 0;
	}
	.wp-block-button__link {
		transition: 0.5s ease;
		box-shadow: 1px 2px 6px #333c3e;
	}
	
	.wp-block-button__link:hover{
			box-shadow: 1px 1px 2px #333c3e;
    }
    /*---- Sådan bruger du RÅ NATUR ---*/
     
    .use {
        background-image: url(img/bikube-cyklus.png);
    }
    .wp-block-group {
        padding:2% 0 2% 0;
    }

    /*---- Mere end et beslag sektion ------*/
    .more-beslag-text{
		width:50%;
		text-align:center;
		margin:auto;
		display:block;
	}
	.hvid-beslag-punkt{
		text-align:left;
		 margin:auto;
		width:50%;
		padding:1% 0;
	}
	
	.service-text a {
		color: #6baa75;
		text-decoration: none;
	}
	.wp-image-335{
		transition: 0.2s ease;
	}
	
	.wp-image-335:hover {
		width:99%;
    }
    /*----- Produkter sektion ----*/
    .main-shop-button{
		width:70%;
		margin:auto;
	
	}
	.produkt-pics-group {
		display:flex;
		flex-direction:row;
		flex-wrap:wrap;
		justify-content:center;
		width:100%;
		transition: 0.5s ease;
	
	}
	.produkt-image {
		width:20%;
		margin:0 2%;
		display:inline-block;
		box-shadow: 2px 2px 8px #333c3e;
		transition: 0.5s ease;
	
	}
	.produkt-image:hover {
		width:19.5%;
		box-shadow: 0px 0px 4px #333c3e;
	}


    /* --- Nyhedsbrev sektion ----*/
    .section{
		background-color:#606b6f;
		color:#f0efee;
		text-align:left;
    }
    


    /*----------------- Shop page ----------------*/
    /*-- Woocommerce + WP prædefinerede classes blev brugt --*/

    .wp-block-woocommerce-product-search{
		width:30%;
		text-align:left;
		margin: 0 auto 0 5%;
		
	}
	.wc-block-components-sort-select__select {
		margin: 0 auto 0 5%;
	}
	.post-content ul:not(.order-items) li {
		list-style-type:none;
	}
	#page-11 h1 {
		color:#606b6f;
		text-align:center;
	}
	.shop-kategori {
		color:#f0efee;
		width:100%;
		margin:auto;
		display:block;

	}
	
	.shop-kategori ul{
		display:flex;
		flex-direction:row;
		flex-wrap:wrap;
		justify-content:center;
		width:100%;
		text-align:center;
		margin: 0 auto;
	
	}
	.shop-kategori ul li{
		font-size:1.4em;
		width:15%;
		margin:0 5%;
		padding:1% 1%;
		text-align:center;
		color:#f0efee;
		background-color:#606b6f;
		border-radius:5%;
	}
	.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering  {
		float:left;
	}
	.woocommerce .woocommerce-result-count {
		margin: 0 2% 0 5%;
	}
	.term-description {
		margin: 0 5%;
	}
	.banner.internal-banner {
		display:none;
    }
    
    /*--------------------- OM RÅ NATUR page ----------------*/
    .video-text-section {
		width:100vw;
		display:flex;
		flex-direction:row;
		flex-wrap:wrap;
		padding:0 15%;
	}
	.about-video {
		width:50%;
	}
	.innovativ-text{
		width:50%;
		text-align:center;
		
	}
	.video-text-section h2,.video-text-section p{
		padding:0 0 5% 0;
	}
	.shop-button a {
		text-decoration:none;
		color:#f0efee;
	}
	.shop-button a:visited {
		color:#f0efee;
	}
	.shop-button {
		border-radius:10%;
		width:150px;
		background-color:#6baa75;
		color:#f0efee;
		padding:2% 5%;
		transition: 0.2s ease;
	}
	.shop-button:hover {
		color:#f0efee;
	}
	
	/* Benefits picture */ 
	.fordele-pic img {
		max-width:100vw;
		margin:auto;
		display:block;
	}
	.fordele-pic {
		margin:10% auto auto auto;
	}
	
	.about-text-section {
		width:100vw;
		display:flex;
		flex-direction:row;
		flex-wrap:wrap;
		padding:0 15%;
		margin:10% auto auto auto;
	}
	.about-text {
		width:50%;
		text-align:center;
		padding:0 5%;
	}
	.about-text-section h2,.about-text-section p{
		padding:0 auto 5% auto;
	}
	.about-us-img {
		width:50%;
	}
	
	.about-galleri {
		width:100vw;
		margin:10% auto auto auto;
		display:flex;
		flex-direction:row;
		flex-wrap:wrap;
	}
	.about-galleri h2 {
		text-align:center;
		margin:auto auto 5% auto;
		display:block;
	}
	.post-content ul:not(.order-items){
		padding:0 5%;
	}
	.byg-img {
		transition:0.5s ease;
	}
	.byg-img:hover {
		border:solid 1px #6baa75;
    }
    
    /*-------------------- Inspiration side --------------*/
    .inspiration-galleri {
		width:80%;
		margin:auto;
	}
	.blocks-gallery-item img {
		transition: 0.2 ease;
		width:100%;
	}
	.blocks-gallery-item img:hover {
		width:99%;
    }
    
    /*---------------------- Kontakt side -------------*/
    .kontakt-h2 {
		margin: 0 auto 5% auto;
	}
	.kontakt-h3 {
		margin-right:32%;
	}
	
	.cpt-custom-fields, .contact_fields {
		width:60%;
		margin: auto 0 auto auto;
	}
	.field-block {
		width:30%;
	}
	.kontakt-image {
		float:left;
		margin: auto 0 auto 5%;
	}
	.field-block h5.cursive-font {
		color:#6baa75;
	}
	.col-md-12 {
		width:20%;
	}
	
	.contact-form{
		width:40%;
		margin:auto;
		display:block;
    }
    .post-content ul:not(.order-items){
		padding:0 0 0 6%;
	}
	/*---------*/

	