
	/*--- Navigation bar ---*/
	#primary-nav{
		padding-right:20%;
		
	}
	#primary-nav ul li a {
		transition: .2s ease-out;
	}
	
	#primary-nav ul li a:hover{
		background-color:none;
		text-decoration:underline;
    }
    
    /*---- navigation logo ---*/
	
	.site-logo img {
		max-width:60%;
	}
	.site-logo{
		padding-left:20%;
    }
    
    /*------ Footer styling in the widget -----*/
    	.footer-widgets {
   background-color:#333c3e;
		text-align:center;
}
	.footer-widgets h4 {
		font-family: Quicksand,Helvetica Neue,Helvetica,sans-serif;
    }
    

    /*----- Main page ----*/

    /* ----- Banner forside ------*/

	#header-title {
		width:100%;
		padding:2% 0;
		text-align:left;
		text-transform:uppercase;
		line-height:125%;
	}
	.container {
		width:100%;
	}
	#header-p-text {
		text-align:left;
		padding:2% 0;
	}
	.wp-block-button__link {
		transition: 0.5s ease;
		box-shadow: 1px 2px 6px #333c3e;
	}
	
	.wp-block-button__link:hover{
			box-shadow: 1px 1px 2px #333c3e;
    }
    /*---- Sådan bruger du RÅ NATUR ---*/
     
    .use {
        background-image: url(img/bikube-cyklus.png);
    }
    .wp-block-group {
        padding:2% 0 2% 0;
    }

    /*---- Mere end et beslag sektion ------*/
    .more-beslag-text{
		width:50%;
		text-align:center;
		margin:auto;
		display:block;
	}
	.hvid-beslag-punkt{
		text-align:left;
		 margin:auto;
		width:50%;
		padding:1% 0;
	}
	
	.service-text a {
		color: #6baa75;
		text-decoration: none;
	}
	.wp-image-335{
		transition: 0.2s ease;
	}
	
	.wp-image-335:hover {
		width:99%;
    }
    /*----- Produkter sektion ----*/
    .main-shop-button{
		width:70%;
		margin:auto;
	
	}
	.produkt-pics-group {
		display:flex;
		flex-direction:row;
		flex-wrap:wrap;
		justify-content:center;
		width:100%;
		transition: 0.5s ease;
	
	}
	.produkt-image {
		width:20%;
		margin:0 2%;
		display:inline-block;
		box-shadow: 2px 2px 8px #333c3e;
		transition: 0.5s ease;
	
	}
	.produkt-image:hover {
		width:19.5%;
		box-shadow: 0px 0px 4px #333c3e;
	}


    
    /* --- Nyhedsbrev sektion ----*/
    .section{
		background-color:#606b6f;
		color:#f0efee;
		text-align:left;
	}


	